export(stilf_starting_point)
export(stilf_data_preparation)
export(stilf_interval)
export(stilf_relation_before)
export(stilf_relation_after)
export(stilf_relation_meets)
export(stilf_relation_met_by)
export(stilf_relation_overlaps)
export(stilf_relation_overlapped_by)
export(stilf_relation_starts)
export(stilf_relation_started_by)
export(stilf_relation_during)
export(stilf_relation_contains)
export(stilf_relation_finishes)
export(stilf_relation_finished_by)
export(stilf_relation_equals)
export(stilf_relation_in)
export(stilf_relation_following)
export(stilf_relation_preceding)
export(stilf_predicate_holds)
export(stilf_predicate_occur)
export(stilf_toJSON)
export(stilf_fromJSON)
export(stilf_fromCSV)
export(stilf_plot_maps_input)
export(stilf_plot_maps_events)
export(stilf_plot_sequence_events)
export(stilf_plot_barplot_events)
export(stilf_toGeoTIFF)
export(stilf_applyTWDTW)
import(dplyr)
import(ggplot2)
import(readr)